



// Set Colors
$black: #000000;
$white: #ffffff;



// Media Queries
$vpDesktop1919: '(max-width:1919px)';
$vpDesktop1680: '(max-width:1680px)';
$vpDesktop1440: '(max-width:1440px)';
$vpDesktop1439: '(max-width:1439px)';
$vpDesktop1280: '(max-width:1280px)';
$vpTablet1200: '(max-width:1200px)';
$vpTablet1024: '(max-width:1024px)';
$vpTablet991: '(max-width:991px)';
$vpMobile767: '(max-width:767px)';
$vpMobile600: '(max-width:600px)';